h1 {
    color: azure;
    font-size:500%;
}

h2 {
    color: azure;
    font-size: 300%;
}

.project-headings {
    color: aquamarine;
    font-size: 200%;
}

.project-sub-headings {
    color: blanchedalmond;
    font-size: 175%;
}